.dashboard-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    border-bottom: 1px solid #e9e8e8;
}

.dashboard-nav__item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-around;
}

.dashboard-nav__item-row > *:not(:last-child) {
    margin-right: 1rem;
}
